.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--blue);
    color: var(--white);
    font-size: clamp(0.5rem, 3vw, 2rem);
    font-weight: 400;
    position: sticky;
    z-index: 1000;
}

.header p {
    opacity: 0.8;
}

p:hover {
    opacity: 1;
    transition: all 0.3s;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.right img {
    border: 1px solid black;
    border-radius: 50%;
    width: 2vw;
    height: 2vw;
}

